// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small {
	font-size: 12px;
}

.medium {
	font-size: 20px;
}

.big {
	font-size: 28px;
}

#ingredient-list, #dish-list {
	li {
		display: inline;
		margin-right: 5px;
		cursor: pointer;
	}
}

h4 {
	text-decoration: underline;
	color: green;
}
#page-title {
	margin-top: 15px;
	text-align: center;
}